.heading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Container for All Job Cards */
.all-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 20px;
}

/* Job Card */
.card {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card-body {
  background-color: #7b3aec;
  border-radius: 20px;
  padding: 20px;
}

/* Card Header */
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-bottom: 15px;
}

.company-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 14px;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Card Body */
.card-body p {
  margin: 5px 0;
  font-size: 14px;
}

/* Job Details */
.salary {
  font-size: 24px;
  font-weight: bold;
}

.salary span {
  font-size: 18px;
}

.location {
  font-size: 18px;
  text-transform: capitalize;
}

.job-type,
.experience,
.skills,
.work-arrangement {
  font-size: 14px;
}

.start-date {
  font-size: 14px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

/* Card Footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.card-footer-container {
  color: black;
}

.details-btn {
  background: #7c3aed;
  padding: 8px 15px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.details-btn:hover {
  background: #5a2cc8;
}

/* TAG LIST */
.tag-list {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px 8px;
  font-size: 12px;
  width: 100%;
}

.tag {
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  padding: 6px 9px;
  white-space: nowrap;
}

.tag:hover {
  background-color: #723cce;
  cursor: default;
}
