{%load static%}
<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="{% static 'styles.css' %}" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="card-design-1">
    		<div class="card-design-1-child">
    		</div>
    		<div class="hr">
      			<span>$250</span>
      			<span class="hr1">/hr</span>
    		</div>
    		<div class="mumbai-india">Mumbai, India</div>
    		<div class="card-design-1-item">
    		</div>
    		<div class="rectangle-parent">
      			<div class="group-child">
      			</div>
      			<div class="part-time">20 February, 2025</div>
    		</div>
    		<div class="rectangle-group">
      			<div class="group-item">
      			</div>
      			<div class="part-time">Part Time</div>
    		</div>
    		<div class="rectangle-container">
      			<div class="group-inner">
      			</div>
      			<div class="part-time">Senior Level</div>
    		</div>
    		<div class="group-div">
      			<div class="rectangle-div">
      			</div>
      			<div class="project-work">Project Work</div>
    		</div>
    		<div class="rectangle-parent1">
      			<div class="group-child1">
      			</div>
      			<div class="project-work">Hybrid</div>
    		</div>
    		<div class="amazon">Amazon</div>
    		<div class="senior-uiux-designer">Senior UI/UX Designer</div>
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<div class="card-design-1-inner">
    		</div>
    		<b class="details">Details</b>
  	</div>
  	
  	
  	
  	
</body>
</html>